{% extends 'base.html' %}
{% load product_tags %}
{% load static %}

{% block body %}

    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
			<div class="container">

			{% if not request.user.is_authenticated %}
			<h2 style="text-align: center; display: flex; justify-content: center; align-items: center;">You are not login</h2>
			<br>

			<div class="text-center">
				<a href="{% url 'handlelogin' %}" class="btn btn-primary}">Go to Login</a>
			</div>

			{% else %}

			{% if not cart_items  %}
			


			<h2 style="text-align: center; display: flex; justify-content: center; align-items: center;">Your Shopping Cart Is Empty</h2>
			<br>

			<div class="text-center">
				<a href="{% url 'products_home' %}" class="btn btn-primary}">Continue Shopping</a>
			</div>

			{% else %}
			
			{% for messg in messages %}
			<div class="alert alert-{{message.tags}}alert-dismissible fade show" role="alert">
				<strong></strong> {{messg}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}


				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
									{% for cart_item in cart_items %}
						      <tr class="text-center">
						        <td class="product-remove"><a href="{% url 'remove_cart_item' cart_item.product.id %}"><span class="ion-ios-close"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url('{{ cart_item.product.product_image.url}}');"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{ cart_item.product.product_name }}</h3>
						        	<p>{{ cart_item.product.product_description}}</p>
						        </td>
						        
						        <td class="price">₹{% call_price cart_item.product.product_price_per_kg cart_item.product.product_discount %}</td>
						        
						        <td class="quantity">
						        	<div class="input-group mb-3">
												<span class="input-group-btn mr-2">
													<a href="{% url 'remove_cart' cart_item.product.id %}"   type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
													 <i class="ion-ios-remove"></i>
													</a>
												</span>
					             	<input type="text" name="quantity" class="quantity form-control input-number" value="{{ cart_item.quantity }}" min="1" max="100">
												 <span class="input-group-btn ml-2">
													<a href="{% url 'add_cart' cart_item.product.id %}" type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
														 <i class="ion-ios-add"></i>
													</a>
											 </span>
					          	</div>
					          </td>
						        
						        <td class="total">₹{{ cart_item.sub_total }}</td>
						      </tr><!-- END TR-->
									{% endfor %}

						      
						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-center">
    			<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
    					<p class="d-flex">
    						<span>Total price</span>
    						<span>₹ {{ total }}</span>
    					</p>
    					<p class="d-flex">
    						<span>Delivery</span>
    						<span>₹0.00</span>
    					</p>
    					<p class="d-flex">
    						<span>GST+Other Taxes</span>
    						<span>₹ {{tax}}</span>
    					</p>
    					<hr>
    					<p class="d-flex total-price">
    						<span>Grand Total</span>
    						<span>₹{{grand_total}}</span>
    					</p>
    				</div>
    				<p class="text-center"><a href="{% url 'checkout' %}" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
    			</div>
    		</div>

				

				




			</div>
			

      {% endif %}

		{% endif %}
		</section>


		<script>
			$(document).ready(function(){
	
			var quantitiy=0;
				 $('.quantity-right-plus').click(function(e){
							
							// Stop acting like a button
							e.preventDefault();
							// Get the field name
							var quantity = parseInt($('#quantity').val());
							
							// If is not undefined
									
									$('#quantity').val(quantity + 1);
	
								
									// Increment
							
					});
	
					 $('.quantity-left-minus').click(function(e){
							// Stop acting like a button
							e.preventDefault();
							// Get the field name
							var quantity = parseInt($('#quantity').val());
							
							// If is not undefined
						
									// Increment
									if(quantity>0){
									$('#quantity').val(quantity - 1);
									}
					});
					
			});
		</script>
			
		
		{% endblock  %}
		

