<!-- users/user_profile.html -->

{% extends 'base.html' %}

{% block body %}
   <style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fbc2eb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
        }

   </style>
   <section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <p>{{ request.user.username }}</p>
                <p>{{ request.user.email }}</p>
              </div>
            </div>
           
            <div class="card-body p-4 text-black">
              <div class="mb-5">
                
                <div class="p-4" style="background-color: #f8f9fa;">
                    <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;">
                    my orders
                </a>
                    <a type="button" href ="{% url 'address' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;">
                    saved address
                </a>
                    <a type="button" href="{% url 'saved_addresses' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                    style="z-index: 1;">
                    my address
            </a>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
